version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: weather_postgres
    restart: always
    environment:
      POSTGRES_USER: ali
      POSTGRES_PASSWORD: ali123
      POSTGRES_DB: weather_db
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
